header.header 
  .container 
    img.logo.header__logo(src="img/logo.png", alt="Logo Livs")
    nav.menu-wrapper 
      ul.menu 
        li.menu__item Компания
        li.menu__item Комьюнити LIVS
        li.menu__item Продукция LIVS
        li.menu__item Новости и статьи
        li.menu__item Контакты
        li.menu__item.active Где купить